<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Main Layout
    <div class="container">
        <div class="headline">Checkers
        </div>

        <form class="formInputs">
        <span class="whiteInput">
            <label for="whitePlayerNameInput" class="form-label">White Player's Name</label>
            <input class="form-control" id="whitePlayerNameInput">
        </span>
            <span class="blackInput">
            <label for="blackPlayerNameInput" class="form-label">Black Player's Name</label>
            <input class="form-control" id="blackPlayerNameInput">
        </span>
            <button id="startButton" class="btn btn-primary">Start Game</button>
        </form>
    </div>
</body>
</html>