<br>
            <div id="sidebar" class="column no-side-pad hidden-xs col-xs-12 col-sm-3 col-lg-2 sidebar-offcanvas">
                <div class="row">
                    <div class="col-lg-12 no-pad-left no-pad-right">
                        <div class="navTitle">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 no-pad-left no-pad-right">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">Action</li>
                                <li class="list-group-item">
                                    <i class="fa fa-search"></i>&nbsp;
                                    <a href="/u">Search</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-plus"></i>&nbsp;
                                    <a href="/me/upload">Upload</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-users"></i>&nbsp;
                                    <a href="/groups">Groups</a>
                                </li>
                                <% if (isUserAdmin.length >0) { %>
                                <li class="list-group-item">
                                    <i class="fa fa-globe"></i>&nbsp;
                                    <a href="/graph">Statistics</a>
                                </li>
                                <% } %>
                                <li class="list-group-item">
                                    <i class="fa fa-paper-plane"></i>&nbsp;
                                    <a href="/chat">Chat</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-map-marker"></i>&nbsp;
                                    <a href="/map">Map</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-heart"></i>&nbsp;
                                    <a href="/me/activity">Notifications</a>
                                </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">
                                Tasks
                            </li>
                                <li class="list-group-item">
                                    <i class="fa fa-images"></i>&nbsp;
                                    <a href="/me/">My profile</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-cog"></i>&nbsp;
                                    <a href="/me/settings/">Settings</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-power-off"></i>&nbsp;
                                    <a href="/account/out">Log Out</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-trash"></i>&nbsp;
                                    <a href="/me/deleteUserAccount">Delete User Account</a>
                                </li>
                        </ul>
            

                    </div>
                </div>
            </div>
